@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    color: #fff;
}

.container
{
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 600px;
    padding: 20px 20px;
    border-radius: 10px;
    gap: 20px;
}

.container>:nth-child(1)
{
    border-radius: 5px;
   
}
.container>:nth-child(2)
{
    align-self: flex-start;
    font-weight: 600;
   
}
.container>:nth-child(3)
{
    align-self: flex-start;
    font-size: 12px;
    color:  hsl(215, 51%, 70%);
}

.sub-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid hsl(215, 51%, 70%);
    
}
.sub-container>:nth-child(1)
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    width: 35%;
    color: hsl(178, 100%, 50%);
    
}

.sub-container>:nth-child(2)
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    width: 36%;
    color:  hsl(215, 51%, 70%);
    flex-wrap: nowrap;
    
}
.credits
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.credits>:nth-child(1)
{
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 20px;
    
}
.credits>:nth-child(2)
{
    font-size: 12px;
    color:  hsl(215, 51%, 70%);
}
span
{
    color: #fff;
}